.topbackground {
    height: 60vh;
}

.titul {
    min-height: 60vh; /* zmenšení kvůli absenci textu */
}

#prvni {
    background: none; /* jinak by tam byl useklej shadow radiál */
}

/* otočený trojúhelník */

.sidebar-grid-item-1 ul li a svg.animated {
    transform: rotate(-90deg);
}

.arrowActive {
    transform: rotate(-90deg);
}

/* birth of Aspera */

.birthOfAspera {
    display: flex;
}

.text-birthOfAspera {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgb(48, 48, 48);
}

.text-birthOfAspera h2 {
    padding-bottom: 40px;
    text-align: center;
    color: #e0e0e0;
    text-shadow: #a0a0a0;
}

.text-birthOfAspera p {
    line-height: 1.5rem;
    color: #e0e0e0;
    text-shadow: #a0a0a0;
}

.picture-birthOfAspera {
    flex-basis: 60%;
}

.picture-birthOfAspera img {
    width: 100%;
    height: 100%;
}

/* náš part */

.leadership {
    display: block;
    padding: 80px 10%;
    text-align: center;
    align-items: center;
}

.firstContent h3 {
    margin: 100px 0px;
    line-height: 3rem;
    font-size:xx-large;
}

.box-col1{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    box-shadow: none;
    background: none;
    padding: 0;
    justify-content: center;
}

.box-col1:hover {
    box-shadow: none;
}

.box-col1 p {
    margin-top: 0;
}

.box-col1 .role {
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    padding-top: 0;
    color: rgb(100, 100, 100);
}

.box-col1 .description {
    line-height: 1.5rem;
}

.box-col1 img {
    width: 100%;
}

.layer {
    background: linear-gradient(130deg, rgba(0,0,0,1) 0%, rgba(0,2,124,1) 100%);
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.layer:hover {
    opacity: 0.8;
 
}

.layer p {
    left: 7%;
    width: 87%;
    color: seashell;
    bottom: 0;
    text-transform: uppercase;
    position: absolute;
    transition: 0.5s;
}



.layer:hover p {
    bottom: 30%;
    opacity: 1;
}

.firstContent {
    padding-bottom: 0;
}